.album{

    &__picture{
        background-image: linear-gradient(rgba($color-primary,0.7),rgba($color-primary-dark,0.7)), url(../img/img20.jpg);
        background-size: cover;
        background-position: center;

        grid-column: start-center / end-column 4;

        @media only screen and (max-width:$bp-large){
            grid-row: 6/7;
            grid-column: start-center / end-container;
        }

        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        justify-items: center;
        align-items: center;

        @media only screen and (max-width:$bp-large){
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(6,1fr);
        }

        &--1{
            width: 100%;
            grid-column: 2/6;
            grid-row: 2/6;

            @media only screen and (max-width:$bp-large){
                
                grid-column: 2/4;
                grid-row: 2/6;
                object-fit: cover;
            }
        }

        &--2{
            width: 140%;
            grid-column: 5/-1;
            grid-row: 4/-1;
            z-index: 20;

            @media only screen and (max-width:$bp-large){
                grid-column: 5/7;
                grid-row: 2/6;
            }
        }
    }

    &__text{
        background-color: $color-gray-light-1;
        padding: 10rem;

        @media only screen and (max-width:$bp-medium){
            padding: 5rem;
        }

        grid-column: start-column 5 /end-container;

        @media only screen and (max-width:$bp-large){
            grid-row: 5/6;
            grid-column: start-center / end-container;
        }

        display: grid;
        grid-template-rows: 1fr min-content min-content 1fr ;
        justify-items: start;
        align-items: center;

        &--paragraph{
            font-size: 1.5rem;
            color: $color-primary-dark;
            
        }

        &--btn{
            align-self: end;
        }
    }
}